.btn-round {
  display: block;
  padding: 15px 5px 15px;
  border: 3px solid;
  border-radius: 30px;
  font-size: 18px;
  font-weight: 700;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.btn-round--white {
  color: @white;
}

.btn-round--pink {
  color: @pink;
}

.btn-round--light {
  color: fade(@dark-blue, 10%);
}
