.contest-form__wrapper {
  padding: 40px 20px;
}

.contest-form__wrapper:first-child {
  padding-top: 0;
}

.contest-form__achievments-wrapper {
  background-color: @light-grey;
}

.contest-form__app-wrapper {
  background-color: @light-grey;
}

.contest-form__list {
  .list-reset();
}

.contest-form__fieldset {
  width: 320px;
  padding: 0;
  margin: 0 auto;
  border: none;
}

.contest-form__review-fieldset textarea {
  width: 280px;
  padding: 20px;
  border: 2px solid @dark-grey;
  color: @dark-blue;
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

.contest-form__review-fieldset textarea::placeholder {
  color: @dark-blue;
}

.contest-form__title {
  color: @pink;
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}

.contest-form__title--tablet {
  display: none;
}

.contest-form__caption {
  display: block;
  padding-left: 22px;
  color: @pink;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.contest-form__text-item input {
  width: 100%;
  height: 60px;
  padding: 15px 20px;
  margin-bottom: 20px;
  border: 2px solid @dark-grey;
}

.contest-form__text-item input::placeholder {
  color: @dark-blue;
  font-size: 18px;
  line-height: 30px;
}

.contest-form__checkbox-item {
  padding-top: 45px;
}

.contest-form__radio-item {
  padding-top: 30px;
}

.contest-form__label {
  padding-left: 70px;
  font-size: 18px;
  line-height: 30px;
}

.contest-form__submit-btn {
  display: block;
  width: 280px;
  padding: 15px;
  margin: 0 auto;
  color: @white;
  background-color: @green;
  border: 2px solid @green;
  text-align: centeer;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  cursor: pointer;
}

.contest-form__text-required {
  text-align: center;
  text-transform: uppercase;
  line-height: 30px;
}

.contest-form__required-glyph {
  color: @pink;
}

@media (min-width: @tablet-width) {
  .contest-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .contest-form__name-wrapper {
    order: -3;
  }

  .contest-form__app-wrapper {
    order: -2;
    background-color: inherit;
  }

  .contest-form__achievments-wrapper {
    background-color: inherit;
  }

  .contest-form__contacts-wrapper {
    order: -1;
  }

  .contest-form__submit-wrapper {
    display: flex;
    width: 620px;
    justify-content: space-between;
    padding: 0;
    margin: 0 auto;
    border: 0;
  }

  .contest-form__fieldset {
    width: 620px;
    padding: 50px 60px;
    border: 2px solid @dark-grey;
  }

  .contest-form__name-fieldset {
    padding: 0;
    border: none;
  }

  .contest-form__title--tablet {
    display: block;
  }

  .contest-form__name-item {
    display: flex;
    align-items: baseline;
  }

  .contest-form__caption--name {
    padding: 0;
    margin-right: 20px;
  }

  .contest-form__review-fieldset textarea {
    width: 100%;
  }

  .contest-form__submit-btn {
    width: 300px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .contest-form {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    max-width: 960px;
    margin: 0 auto;
  }

  .contest-form__wrapper {
    padding: 40px 10px;
  }

  .contest-form__fieldset {
    width: 940px;
  }
  
  .contest-form__name-fieldset {
    width: 455px;
  }

  .contest-form__app-fieldset {
    width: 455px;
  }


  .contest-form__checkbox-list {
    display: flex;
    flex-wrap: wrap;
  }

  .contest-form__name-item {
    margin-top: 50px;
  }

  .contest-form__name-item input {
    margin-bottom: 0;
  }

  .contest-form__submit-wrapper {
    width: 940px;
  }
}
