.contacts {
  text-align: center;
}

.contacts__wrapper {
  max-width: 320px;
  padding-top: 50px;
  margin: 0 auto;
}

.contacts__header {
  .margin-reset();
  margin: 0 auto;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}

.contacts__title {
  display: block;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 700;
}

.contacts__info {
  .margin-reset();
  margin-bottom: 10px;
  color: @pink;
  font-size: 24px;
  font-weight: 300;
  text-decoration: none;
}

.contacts__map {
  position: relative;
  background-image: url("../img/bg-map-mobile@1x.png");
}

.contacts__map::before {
  content: "";
  z-index: 200;
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 123px;
  background-image: url("../img/bg-triangle-white-footer.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.contacts iframe {
  border: none;
}

@media (min-width: @tablet-width) {
  .contacts__wrapper {
    max-width: 660px;
    padding: 50px 20px 0;
  }

  .contacts__header {
    width: 370px;
    font-size: 40px;
    line-height: 50px;
  }

  .contacts__info-wrapper {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 20px;
  }

  .contacts__container {
    padding-top: 40px;
    margin: auto;
  }
}

@media (min-width: @desktop-width) {
  .contacts__wrapper {
    max-width: 960px;
    padding-top: 70px;
  }

  .contacts__info__wrapper {
    padding: 0 30px;
  }

  .contacts__container {
    margin-bottom: 0;
  }
  .contacts__container--tel {
    order: 1;
  }

  .contacts__container--email {
    order: 3;
  }

  .contacts__container--address {
    order: 2;
    width: 220px;
  }

  .contacts__title {
    margin-bottom: 30px;
  }
}
