.download-app {
  z-index: 10;
  position: relative;
  padding-top: 28px;
  background-color: @dark-blue;
}

.download-app__wrapper {
  max-width: 320px;
  padding: 0 20px 0;
  margin: 0 auto;
}

.download-app__list {
  display: flex;
  justify-content: center;
  align-items: baseline;
  width: 280px;
  padding: 18px 0 19px;
  margin: 0 auto;
}

.download-app__store-link {
  margin: 0 17px;
}

.download-app__link {
  width: 100%;
  margin-bottom: 10px;
}

.download-app__available-versions {
  .margin-reset();
  color: @white;
  text-align: center;
  font-weight: 300;
}

@media (min-width: @tablet-width) {
  .download-app {
    max-width: 300px;
    padding-top: 30px;
    background-color: transparent;
  }

  .download-app__wrapper {
    max-width: 300px;
    padding: 0 0 30px;
  }

  .download-app__list {
    width: 300px;
    margin-bottom: 7px;
  }

  .download-app__link {
    margin-bottom: 27px;
  }

  .download-app__available-versions {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .download-app {
    padding-top: 0;
  }

  .download-app__list {
    padding: 50px 0;
    margin-bottom: 0;
  }

  .download-app__link {
    margin-bottom: 15px;
    font-size: 21px;
  }
}
