.download-app {
  z-index: 10;
  position: relative;
  padding-top: 25px;
  background-color: @dark-blue;
}

.download-app__wrapper {
  max-width: 320px;
  padding: 0 20px 30px;
  margin: 0 auto;
}

.download-app__list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
}

.download-app__available-versions {
  .margin-reset();
  color: @white;
  text-align: center;
  font-weight: 300;
}

@media (min-width: @tablet-width) {
  .download-app {
    max-width: 300px;
    background-color: transparent;
  }

  .download-app__wrapper {
    max-width: 300px;
    padding: 0 0 30px;
  }

  .download-app__available-versions {
    font-size: 18px;
    line-height: 24px;
  }
}

@media (min-width: @desktop-width) {
  .download-app__list {
    padding: 50px 0;
  }
}
