.features {
  background-color: @dark-grey;
  background-position: bottom;
  background-repeat: no-repeat;
}

.features::after {
  content: "";
  display: block;
  height: 320px;
  background-image: url("/img/iphone-screen-mobile@1x.png");
  background-position: center 35px;
  background-repeat: no-repeat;
}

.features__wrapper {
  padding: 100px 30px 0;
  background-image: url("/img/bg-triangle-white.svg");
  background-position: top;
  background-repeat: no-repeat;
}

.features__item {
  padding-bottom: 35px;
}

.features__title {
  .margin-reset();
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.features__desc {
  .margin-reset();
  text-align: center;
}
