.features {
  background-color: @light-grey;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.features__wrapper {
  position: relative;
  max-width: 320px;
  padding: 77px 30px 0;
  margin: 0 auto;
}

.features__wrapper::after {
  content: "";
  display: block;
  height: 287px;
  background-image: url("../img/iphone-screen-mobile@1x.png");
  background-position: center 9px;
  background-repeat: no-repeat;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 60%;
  }
}

.features__item {
  margin-bottom: 31px;
}

.features__title {
  .margin-reset();
  margin-bottom: 12px;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
}

.features__desc {
  .margin-reset();
  text-align: center;
}

.features__break {
  display: none;
}

@media (min-width: @tablet-width) {
  .features__wrapper {
    display: flex;
    flex-direction: column;
    max-width: 620px;
    padding: 75px 15px 41px 310px;
  }

  .features__item {
    width: 310px;
    margin-bottom: 35px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .features__title {
    text-align: left;
  }

  .features__desc {
    text-align: left;
  }

  .features__wrapper::after {
    content: "";
    position: absolute;
    top: -4px;
    left: 0;
    width: 268px;
    height: 547px;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-repeat: no-repeat;
    background-size: contain;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
    }
  }
}

@media (min-width: @desktop-width) {
  .features__wrapper {
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    max-width: 940px;
    padding: 0 0 35px 0;

    &::after {
      display: none;
    }
  }

  .features__title {
    padding: 23px 30px 20px 29px;
    margin-bottom: 4px;
    text-align: center;
    font-size: 30px;
    line-height: 30px;
  }

  .features__desc {
    padding: 0 20px;
    text-align: center;
    font-size: 18px;
    line-height: 30px;
  }

  .features__break {
    display: inline;
  }

  .features__item {
    width: 300px;
    padding-top: 335px;
    margin-bottom: 30px;
    background-size: auto 302px;
  }

  .features__item--mood {
    background-image: url("../img/iphone-screen-1-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-1-desktop@2x.png");
    }
  }

  .features__item--change {
    background-image: url("../img/iphone-screen-2-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-2-desktop@2x.png");
    }
  }

  .features__item--friends {
    background-image: url("../img/iphone-screen-3-desktop@1x.png");
    background-repeat: no-repeat;
    background-position: top center;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/iphone-screen-3-desktop@2x.png");
    }
  }
}
