.main-nav {
  background-color: @dark-blue;
}

.main-nav__list {
  .list-reset();
}

.main-nav__item {
  padding: 15px 0;
  border-top: 1px solid fade(@white, 15%);
  border-bottom: 1px solid @black;
}

.main-nav__item a {
  display: block;
  color: @white;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 32px;
}
