.package {
  padding: 88px 0 44px 0;
  background-color: @light-grey;
  background-image: url("../img/bg-triangle-white.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.package__wrapper {
  margin: 0 auto;
  overflow: hidden;
}

.package__table {
  width: calc(300% - 120px);
  border-collapse: collapse;
  transform: translateX(-33.333333%) translateX(20px);
}

.package__table-header {
  color: @white;
  background-color: @dark-blue;
}

.package__header {
  position: relative;
  padding: 15px 0 20px;
  border: 2px solid @dark-grey;
  overflow: hidden;
}

.package__header--tablet {
  display: none;
}

.package__title {
  .margin-reset();
  margin-bottom: 2px;
  font-size: 18px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}

.package__price {
  .margin-reset();
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}

.package__hit {
  position: absolute;
  z-index: 20;
  top: 14px;
  left: -37px;
  width: 120px;
  padding-bottom: 4px;
  background-color: @pink;
  font-weight: 400;
  text-transform: uppercase;
  transform: rotate(-45deg);
  cursor: default;
}

.package__feature {
  position: relative;
  width: 280px;
  padding: 14px 17px 15px 22px;
  border: 2px solid @dark-grey;
  background-color: @white;
}

.package__included-feature::after {
  content: "";
  position: absolute;
  top: 19px;
  right: 15px;
  width: 31px;
  height: 21px;
  background-image: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.package__not-included-feature::after {
  content: "";
  position: absolute;
  top: 14px;
  right: 19px;
  width: 27px;
  height: 26px;
  background-image: url("../img/icon-no.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.package__feature--tablet {
  display: none;
}

.package__feature-name {
  line-height: 30px;
  text-transform: uppercase;
}

.package__controls {
  padding-top: 30px;
  text-align: center;
}

@media (min-width: @tablet-width) {
  .package {
    padding-bottom: 41px;
  }

  .package__wrapper {
    max-width: 660px;
    padding: 0 20px 25px;
  }

  .package__table {
    width: 100%;
    transform: none;
  }

  .package__header {
    width: 25%;
    padding-top: 11px;
    padding-bottom: 7px;
  }

  .package__header--tablet {
    display: table-cell;
    border: none;
    background-color: @light-grey;
  }

  .package__title {
    margin-bottom: 0;
    font-size: 16px;
  }

  .package__price {
    font-size: 18px;
  }

  .package__hit {
    top: 5px;
    left: -40px;
  }

  .package__feature {
    width: 25%;
  }

  .package__feature--tablet {
    display: table-cell;
    padding: 5px 17px 10px 15px;
  }

  .package__included-feature::after {
    top: 10px;
    right: 50%;
    transform: translateX(50%);
  }

  .package__not-included-feature::after {
    top: 8px;
    right: 50%;
    transform: translateX(50%);
  }

  .package__feature-name {
    display: none;
  }

  .package__feature-name--tablet {
    display: inline;
    text-transform: none;
  }

  .package__controls {
    display: none;
  }
}

@media (min-width: @desktop-width) {
  .package {
    padding-top: 64px;
  }

  .package__wrapper {
    max-width: 960px;
    padding: 90px 10px 55px;
  }

  .package__header {
    padding-top: 17px;
    padding-bottom: 21px;
  }

  .package__title {
    font-size: 18px;
  }

  .package__price {
    font-size: 24px;
    line-height: 30px;
  }

  .package__hit {
    top: 14px;
    left: -35px;
  }

  .package__feature--tablet {
    padding: 12px 17px 16px 21px;
  }

  .package__feature-name--tablet {
    font-size: 18px;
    line-height: 30px;
  }

  .package__included-feature::after {
    top: 20px;
  }

  .package__not-included-feature::after {
    top: 16px;
  }
}
