.page-main__title {
  .margin-reset();
  padding: 40px 5px 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}

.page-main__wrapper {
  max-width: 320px;
  margin: 0 auto;
}
