.page-header {
  min-height: 400px;
  background-color: @dark-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.page-header__top {
  min-height: 70px;
}

.page-header__wrapper {
  display: flex;
  justify-content: space-between;
  padding: 22px 18px 20px 20px;
  border-bottom: 1px solid @black;
  background-color: fade(@black, 30%);
}

.page-header__toggle {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.page-header__bottom {
  padding: 30px 0 50px;
}

.page-header__bottom--index {
  min-height: 400px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-position: bottom left;
  background-repeat: no-repeat;
}

.page-header__title {
  padding: 0 30px;
  .margin-reset();
  color: @white;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
}
