.page-header {
  min-height: 400px;
  background-color: @dark-blue;
  background-image: url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.page-header__wrapper {
  max-width: 320px;
  margin: 0 auto;
}

.page-header__bottom {
  position: relative;
  padding: 28px 0 81px;
  margin: 0 auto;
}

.page-header__bottom--index {
  padding: 21px 0 26px;
  overflow: hidden;
}

.page-header__intro {
  z-index: 10;
  position: relative;
  padding-bottom: 313px;
}

.page-header__bottom--index::after {
  content: "";
  position: absolute;
  top: 80px;
  left: 130px;
  transform: translateX(-50%);
  z-index: 1;
  width: 320px;
  height: 314px;
  background-image: url("../img/iphone-hand-mobile@1x.png");
  background-position: bottom center;
  background-repeat: no-repeat;
}

.page-header__title,
.page-header__slogan {
  padding: 0 40px;
  .margin-reset();
  color: @white;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
}

@media (min-width: @tablet-width) {
  .page-header {
    background-image: url("../img/bg-back-tablet@1x.jpg");
  }

  .page-header__wrapper {
    max-width: 660px;
  }

  .page-header__bottom-wrapper {
    width: 620px;
    margin: 0 auto;
  }

  .page-header__bottom {
    padding: 90px 20px 80px;
    overflow: hidden;
  }
  
  .page-header__title {
    font-size: 50px;
    line-height: 50px;
  }

  .page-header__slogan {
    font-size: 40px;
    line-height: 49px;
  }

  .page-header__intro {
    width: 300px;
    padding-bottom: 0;
  }

  .page-header__bottom--index::after {
    width: 887px;
    height: 545px;
    top: 73px;
    left: 329px;
    background-image: url("../img/iphone-hand-tablet@1x.png");
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    background-image: url("../img/bg-back-desktop@1x.jpg");
  }

  .page-header__title {
    padding: 50px 10px;
    font-size: 50px;
    line-height: 65px;
  }

  .page-header__bottom {
    width: 940px;
  }

  .page-header__bottom--index {
    min-height: 700px;
  }

  .page-header__bottom--index::after {
    width: 1050px;
    height: 645px;
    top: 55px;
    left: 550px;
    background-image: url("../img/iphone-hand-desktop@1x.png");
  }
}
