.photo-upload__wrapper {
  padding: 20px 20px 28px;
  background-color: @light-grey;
}

.photo-upload__title {
  .margin-reset();
  width: 300px;
  padding: 23px 10px 42px;
  margin: 0 auto;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 30px;
}

.photo-upload__form {
  max-width: 320px;
  margin: 0 auto;
}

.photo-upload__block {
  position: relative;
  width: 280px;
  height: 374px;
  margin: 0 auto 43px 0;
}

.photo-upload__field {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 1;
  cursor: pointer;
}

.photo-upload__back {
  display: block;
  width: 100%;
  height: 100%;
  background-image: url("../img/photo-road-mobile@1x.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/photo-road-mobile@2x.jpg");
  }
}

.photo-upload__tools-list {
  .list-reset();
  display: flex;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 39px;
  border-bottom: 1px solid @dark-grey;
}

.photo-upload__tools-item {
  position: relative;
  padding-bottom: 67px;
}

.photo-upload__tools-item--active {
  .photo-upload__controls {
    display: block;
  }

  .photo-upload__filter {
    cursor: default;
    pointer-events: none;
  }
}

.photo-upload__filter {
  width: 48px;
  height: 48px;
  padding: 0;
  margin: 0 16px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.photo-upload__filter svg {
  fill: fade(@dark-blue, 30%);

  &:hover {
    fill: fade(@dark-blue, 50%);
  }
}

.photo-upload__tools-item--active svg {
  fill: @pink;
}

.photo-upload__icon--crop {
  width: 44px;
  height: 44px;
}

.photo-upload__icon--fill {
  width: 48px;
  height: 43px;
}

.photo-upload__icon--contrast {
  width: 32px;
  height: 32px;
}

.photo-upload__controls {
  position: absolute;
  bottom: 34px;
  display: none;
  width: 240px;
}

.photo-upload__btn {
  width: 280px;
  margin-bottom: 12px;
}

@media (min-width: @tablet-width) {
  .photo-upload__wrapper {
    padding: 57px 20px 11px;
  }

  .photo-upload__title {
    width: 445px;
    padding: 45px 10px 69px;
    font-size: 18px;
    line-height: 30px;
  }

  .photo-upload__form {
    display: flex;
    justify-content: space-between;
    max-width: 660px;
  }

  .photo-upload__block {
    width: 300px;
    height: 400px; // временно
  }

  .photo-upload__back {
    background-image: url("../img/photo-road-tablet@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/photo-road-tablet@2x.jpg");
    }
  }

  .photo-upload__tools-wrapper {
    width: 300px;
  }

  .photo-upload__tools {
    margin-bottom: 65px;
  }

  .photo-upload__tools-list {
    flex-wrap: wrap;
    padding: 0 19px 0 27px;
    margin-bottom: 50px;
    border-bottom: none;
  }

  .photo-upload__tools-item {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 8px 0 23px;
    border-bottom: 1px solid @dark-grey;
    margin-bottom: 16px;
  }

  .photo-upload__filter {
    width: 24px;
    height: 24px;
    margin: 0 29px 0 0;
  }

  .photo-upload__filter svg {
    fill: @pink
  }

  .photo-upload__icon--crop {
    width: 22px;
    height: 22px;
  }

  .photo-upload__icon--fill {
    width: 24px;
    height: 22px;
  }

  .photo-upload__icon--contrast {
    order: 5;
    width: 16px;
    height: 16px;
  }

  .photo-upload__controls {
    position: relative;
    bottom: 0;
    display: block;
  }

  .photo-upload__controls--crop {
    order: 2;
  }

  .photo-upload__submit-form {
    padding-left: 30px;
  }

  .photo-upload__btn {
    width: 260px;
    margin-bottom: 25px;
  }
}

@media (min-width: @desktop-width) {
  .photo-upload {
    padding-bottom: 43px;
  }
  .photo-upload__wrapper {
    width: 940px;
    padding: 55px 20px;
    margin: 0 auto;
  }

  .photo-upload__title {
    padding-top: 5px;
  }

  .photo-upload__back {
    background-image: url("../img/photo-road-desktop@1x.jpg");

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/photo-road-desktop@2x.jpg");
    }
  }

  .photo-upload__tools-wrapper {
    display: flex;
    flex-direction: column;
    width: 410px;
  }

  .photo-upload__tools-list {
    padding: 0;
    margin-bottom: 129px;
  }

  .photo-upload__form {
    max-width: 940px;
    padding: 0 44px 0 60px;
  }

  .photo-upload__block {
    margin: 0;
  }

  .photo-upload__tools-item {
    padding: 0 0 8px 0;
    margin: 0 0 16px 0;
  }

  .photo-upload__filter {
    width: 48px;
    height: 48px;
    margin: 0 48px 0 0;
  }

  .photo-upload__icon--crop {
    width: 44px;
    height: 44px;
  }

  .photo-upload__icon--fill {
    width: 48px;
    height: 43px;
  }

  .photo-upload__icon--contrast {
    width: 32px;
    height: 32px;
  }

  .photo-upload__controls {
    width: 288px;
  }

  .photo-upload__submit-form {
    display: flex;
    justify-content: space-between;
    padding-left: 0;
  }

  .photo-upload__btn {
    width: 184px;
    margin-bottom: 0;
  }
}
