.photo-feed {
  overflow: hidden;
}

.photo-feed__wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

.photo-feed__item {
  margin-bottom: 20px;
}

@media (min-width: @tablet-width) {
  .photo-feed__wrapper {
    display: flex;
    flex-wrap: wrap;
    max-width: 660px;
  }

  .photo-feed__item {
    width: 300px;

    &:first-child {
      margin-bottom: 50px;
    }
  }

  .photo-feed__item:nth-child(2n) {
    margin-right: 20px;
  }

  .photo-feed__item--fullwidth {
    width: 100%;
  }
}

@media (min-width: @desktop-width) {
  .photo-feed__wrapper {
    max-width: 980px;
  }

  .photo-feed__title {
    width: 600px;
    padding: 90px 10px 80px;
  }

  .photo-feed__item {
    margin: 0 20px 54px 0;
    
    &:first-child {
      margin: 0 0 48px 0;
    }
  }

  .photo-feed__item--fullwidth {
    margin-right: 0;
  }

  .photo-feed__item:nth-child(3n+4) {
    margin-right: 0;
  }
}
