.slogan__wrapper {
  max-width: 320px;
  padding: 40px 0 37px;
  margin: 0 auto;
}

.slogan__text {
  .margin-reset();
  color: @dark-blue;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 29px;
}

.slogan__text:not(:last-child) {
  margin-bottom: 28px;
}

@media (min-width: @tablet-width) {
  .slogan__wrapper {
    max-width: 620px;
    padding: 50px 0 45px;
  }

  .slogan__text {
    padding: 0 10px;
    font-size: 40px;
    line-height: 48px;
  }

  .slogan__text:not(:last-child) {
    margin-bottom: 0;
  }
}

@media (min-width: @desktop-width) {
  .slogan__wrapper {
    max-width: 960px;
    padding: 66px 0 79px;
  }

  .slogan__text {
    font-size: 50px;
    line-height: 60px;
  }
}
