.slogan__wrapper {
  max-width: 320px;
  padding: 30px 0;
  margin: 0 auto;
}

.slogan__text {
  .margin-reset();
  color: @dark-blue;
  text-align: center;
  font-size: 24px;
  font-weight: 300;
  line-height: 32px;
}

.slogan__text:not(:last-child) {
  margin-bottom: 30px;
}

@media (min-width: @tablet-width) {
  .slogan__wrapper {
    max-width: 620px;
    padding: 50px 0;
  }

  .slogan__text {
    padding: 0 10px;
    font-size: 40px;
  }
}

@media (min-width: @desktop-width) {
  .slogan__text {
    font-size: 50px;
    line-height: 65px;
  }
}
